@import 'tailwindcss';

@theme {
	
  /* Colores base */
  --color-ligth-background: #F8F0FC;
  --color-ligth-foreground: #311B92;
  
  /* Colores primarios */
  --color-ligth-primary: #9C27B0;
  --color-ligth-primary-foreground: #FFFFFF;
  
  /* Colores secundarios */
  --color-ligth-secondary: #00BFA5;
  --color-ligth-secondary-foreground: #FFFFFF;
  
  /* Colores de acento */
  --color-ligth-accent: #FFC400;
  --color-ligth-accent-foreground: #311B92;
  
  /* Colores de utilidad */
  --color-ligth-muted: #311B92;
  --color-ligth-muted-foreground: rgba(49, 27, 146, 0.7);
  
  /* Colores de borde */
  --color-ligth-border: rgba(156, 39, 176, 0.2);
  --color-ligth-input: rgba(49, 27, 146, 0.2);
  --color-ligth-ring: #00BFA5;
  
  /* Colores de tarjeta */
  --color-ligth-card: #FFFFFF;
  --color-ligth-card-foreground: #311B92;
  
  /* Colores de popover */
  --color-ligth-popover: #FFFFFF;
  --color-ligth-popover-foreground: #311B92;
  
  /* Colores destructivos */
  --color-destructive: #FF5252;
  --color-destructive-foreground: #FFFFFF;


  --color-dark-background: #1A0E2E;
  --color-dark-foreground: #E8F0FC;
  
  --color-dark-primary: #BB6BD9;
  --color-dark-primary-foreground: #FFFFFF;
  
  --color-dark-secondary: #00E2C3;
  --color-dark-secondary-foreground: #1A0E2E;
  
  --color-dark-accent: #FFD740;
  --color-dark-accent-foreground: #1A0E2E;
  
  --color-dark-muted: #E8F0FC;
  --color-dark-muted-foreground: rgba(248, 240, 252, 0.7);
  
  --color-dark-border: rgba(187, 107, 217, 0.2);
  --color-dark-input: rgba(248, 240, 252, 0.2);
  --color-dark-ring: #00E2C3;
  
  --color-dark-card: #2D1B4B;
  --color-dark-card-foreground: #E8F0FC;
  
  --color-dark-popover: #2D1B4B;
  --color-dark-popover-foreground: #E8F0FC;
  
  --color-dark-destructive: #FF7A7A;
  --color-dark-destructive-foreground: #FFFFFF;
}